apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: microservices-monitor
  namespace: monitoring
  labels:
    app: microservices
spec:
  namespaceSelector:
    matchNames:
    - dev
  selector:
    matchLabels:
      app: user-service
  endpoints:
  - port: http
    path: /actuator/prometheus
    interval: 30s
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: product-service-monitor
  namespace: monitoring
  labels:
    app: microservices
spec:
  namespaceSelector:
    matchNames:
    - dev
  selector:
    matchLabels:
      app: product-service
  endpoints:
  - port: http
    path: /actuator/prometheus
    interval: 30s
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: api-gateway-monitor
  namespace: monitoring
  labels:
    app: microservices
spec:
  namespaceSelector:
    matchNames:
    - dev
  selector:
    matchLabels:
      app: api-gateway
  endpoints:
  - port: http
    path: /actuator/prometheus
    interval: 30s